/* You can add global styles to this file, and also import other style files */
.form-signin {
  width: 100%;
  max-width: 510px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-top: 10px;
}
.log-in {
  background-color: #151a4e;
  color: #ffffff;
}
.log-in:hover {
  border: solid 1px #151a4e;
  background-color: #ffffff;
}
.criar-conta {
  background-color: #f78e43;
  color: #ffffff;
}
.criar-conta:hover {
  border: solid 1px #f78e43;
  background-color: #ffffff;
}